In [51]:
#  Import the necessary libraries
import pandas as pd

In [52]:
# Import the dataset from this address
url = "https://raw.githubusercontent.com/justmarkham/DAT8/master/data/drinks.csv"

# Assign it to a variable called drinks
drinks = pd.read_csv(url)
drinks.head(0)

Empty DataFrame
Columns: [country, beer_servings, spirit_servings, wine_servings, total_litres_of_pure_alcohol, continent]
Index: []

In [53]:
# Which continent drinks more beer on average?
beer = drinks[['continent', 'beer_servings']]
average_beer_per_continent = beer.groupby('continent').mean('beer_servings')
average_beer_per_continent.sort_values('beer_servings', ascending=False).head(1)

           beer_servings
continent
EU            193.777778

In [54]:
# For each continent print the statistics for wine consumption
wine_consumption = drinks[['continent', 'wine_servings']]
wine_consumption = wine_consumption.groupby('continent').sum('wine_servings')
wine_consumption.head

<bound method NDFrame.head of            wine_servings
continent
AF                   862
AS                   399
EU                  6400
OC                   570
SA                   749>

In [64]:
# Print the mean alcohol consumption per continent for every column
alcohol_consumption = drinks[['continent', 'wine_servings', 'beer_servings', 'spirit_servings', 'total_litres_of_pure_alcohol']]
alcohol_consumption = alcohol_consumption.groupby('continent').mean(['wine_servings', 'beer_servings', 'spirit_servings', 'total_litres_of_pure_alcohol'])
alcohol_consumption.head

<bound method NDFrame.head of            wine_servings  beer_servings  spirit_servings  \
continent
AF             16.264151      61.471698        16.339623
AS              9.068182      37.045455        60.840909
EU            142.222222     193.777778       132.555556
OC             35.625000      89.687500        58.437500
SA             62.416667     175.083333       114.750000

           total_litres_of_pure_alcohol
continent
AF                             3.007547
AS                             2.170455
EU                             8.617778
OC                             3.381250
SA                             6.308333  >

In [65]:
# Print the median alcohol consumption per continent for every column
alcohol_consumption = drinks[['continent', 'wine_servings', 'beer_servings', 'spirit_servings', 'total_litres_of_pure_alcohol']]
alcohol_consumption = alcohol_consumption.groupby('continent').median(['wine_servings', 'beer_servings', 'spirit_servings', 'total_litres_of_pure_alcohol'])
alcohol_consumption.head

<bound method NDFrame.head of            wine_servings  beer_servings  spirit_servings  \
continent
AF                   2.0           32.0              3.0
AS                   1.0           17.5             16.0
EU                 128.0          219.0            122.0
OC                   8.5           52.5             37.0
SA                  12.0          162.5            108.5

           total_litres_of_pure_alcohol
continent
AF                                 2.30
AS                                 1.20
EU                                10.00
OC                                 1.75
SA                                 6.85  >

In [85]:
# Print the mean, min and max values for spirit consumption
min_and_max = drinks.spirit_servings.agg([min, max])
average = drinks.spirit_servings.mean()
print(min_and_max)
print(average)

min      0
max    438
Name: spirit_servings, dtype: int64
80.99481865284974

/var/folders/np/0sqwvl_17pz16nrbjs05_0k00000gn/T/ipykernel_3561/13622445.py:2: FutureWarning: The provided callable <built-in function min> is currently using Series.min. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "min" instead.
  min_and_max = drinks.spirit_servings.agg([min, max])
/var/folders/np/0sqwvl_17pz16nrbjs05_0k00000gn/T/ipykernel_3561/13622445.py:2: FutureWarning: The provided callable <built-in function max> is currently using Series.max. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "max" instead.
  min_and_max = drinks.spirit_servings.agg([min, max])